#normal{
  font-family: cursive;
  color: blue;
  margin-left: 50px
}
#normal2{
  font_family:cursive;
  color:#900C3F;
  margin-left: 50px;


}
#normal3{
  font-family: cursive;
  color: #4A235A;
  margin-left: 50px
}
